html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn,
.booking-btn,
.search-form .btn {
  background-color: #e61e4d;
  border-color: #e61e4d;
  color: white;
  margin-top: 2.5rem;
  font-weight: bold;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}
#searchByBudgetBtn{
  background-color: #e61e4d;
  color:#e3e3e3;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Navbar */
nav {
  background-color: white;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.login-header-btn {
  background-color: #e61e4d;
}

/* Search Page */

#cover {
  /* background: #222 url('./images/search-bg.jpg') center center no-repeat; */
  background-size: cover;
  height: 100%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  z-index: -1;
  border-radius: 10px;
}

.search-form .form-control {
  margin-bottom: 1.2rem;
}

.search-form .btn {
  background-color: #e61e4d;
  color: white;
}
#search_btn {
  background-color: #e61e4d;
  color: white;
}
.page-item.active .page-link{
  background-color: #e61e4d;
    border-color:#e61e4d
}
.fa-check{
  color:#0b8630
}
.fa-times{
  color:#b90606
}
.page-link{
  color:#e61e4d;
}

/* Home page */

.stays-heading {
  font-weight: 700;
}

.back-to-search {
  font-size: 1.1rem;
  color: #e61e4d;
  font-weight: 600;
}

.back-to-search:hover {
  color: #e61e4d;
}

.card {
  height: 100%;
  border: 0px;
}

.card-title a {
  color: #2e2e2e;
  font-size: 1.2rem;
}

.card-title a:hover {
  color: #e61e4d;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-text {
  font-size: 1.2rem;
}

#view_btn {
  background-color: #e61e4d;
  color: white;
}

.card-img-top {
  height: 170px;
  border-radius: 0.8rem;
}

.ratings {
  font-size: 1.2rem;
  color: #e61e4d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #e61e4d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #e61e4d;
}
.btn-p{
  background: #e61e4d;
  color:#e3e3e3;
}
.btn-p:hover{
  color:#cbcbcb;
  background:#c50606
}
.avatar-profile {
  height: 16rem;
  width: 16rem;
}
/* Property Details Page */
.property-details-image {
  height: 480px;
}

.booking-btn:hover {
  color: white;
}

.price-per-night {
  font-size: 1.3rem;
}

.booking-card {
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 5px 10px;
}

.room-feature {
  font-size: 1.1rem;
  color: #404040;
}

.room-feature p {
  margin-left: 0.1rem;
  display: inline-block;
}

/* Reviews */
.review_user {
  font-size: 0.8rem;
  color: grey;
}


/* Footer */
footer {
  margin-top: 6rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

span.search-by-bud {
  font-size: 22px;
  /* line-height: 2.5rem; */
}
/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #e61e4d;
  border-color: #e61e4d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.navbar-brand a {
  color: #e61e4d;
  font-family: 'Dela Gothic One', cursive;
}
#search_btn {
  background-color: #e61e4d;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}
/*
	@name sprk_default_preset_name_custom___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
#khadija_yousaf_t1mvz7c3eya_unsplash { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
/* div { position: absolute; } */
.ab-divs div{
  position: absolute;
}
#content-container { display: table; position: relative;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_sprk_default_preset_name_custom___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1405px;
	height: 800px;
}

#_bg__sprk_default_preset_name_custom___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1405px;
	height: 800px;
	background:rgba(255,255,255,255);
}


#khadija_yousaf_t1mvz7c3eya_unsplash {
	top: -68px;
	left: -1px;
	width: 1407px;
	height: 935px;
}


#rectangle_4 {
	opacity:0.48;
	top: 0px;
	left: -1px;
	width: 1407px;
	height: 192px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(0,0,0,255) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(-180deg , rgba(0,0,0,255) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(-180deg , rgba(0,0,0,255) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(-180deg , rgba(0,0,0,255) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(-180deg , rgba(0,0,0,255) 0%, rgba(0,0,0,0) 100%);
}


#travelling___co {
	top: 42px;
	left: 965px;
	width: 280px;
	height: 88px;
	overflow: hidden;
	font-family: fonte;
	font-size: 46px;
	text-align: left;
	-ms-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-o-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-webkit-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-moz-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	color:#ffffff;
}

#group_1 {
	top: 694px;
	left: 130px;
	width: 185px;
	height: 106px;
}

#_10 {
	top: 0px;
	left: 0px;
	/* width: 101px;
	height: 176px; */
	overflow: hidden;
	font-family: Mongolian Baiti;
	font-size: 60px;
	text-align: left;
	color:#fbfffd;
}


#__01 {
	opacity:0.5;
	top: 27px;
	left: 96px;
	width: 89px;
	height: 123px;
	overflow: hidden;
	font-family: Mongolian Baiti;
	font-size: 69px;
	text-align: left;
	color:#fbfffd;
}

#group_2 {
	top: 41px;
	left: 166px;
	width: 157px;
	height: 55px;
}

#rectangle_2 {
	top: 0px;
	left: 0px;
	width: 157px;
	height: 55px;
	-ms-border-radius: 27.5px;
	-o-border-radius: 27.5px;
	-moz-border-radius: 27.5px;
	-webkit-border-radius: 27.5px;
	border-radius: 27.5px;
	background:#e61e4d;
}


#sign_up {
	top: 13px;
	left: 40px;
	width: 77px;
	height: 47.5px;
	overflow: hidden;
	font-family: Mongolian Baiti;
	font-size: 26px;
	text-align: left;
	color:#fbfffd;
}

#group_4 {
	top: 731px;
	left: 1122px;
	width: 122.81713867188px;
	height: 30.905090332031px;
}

#_001_youtube {
	top: 2px;
	left: -0px;
	width: 48.8388671875px;
	height: 25.992736816406px;
}

#_002_instagram {
	top: 0px;
	left: 46px;
	width: 38.922607421875px;
	height: 30.905090332031px;
}

#path_1 {
	top: 0px;
	left: 0px;
	width: 38.922485351562px;
	height: 30.905090332031px;
}


#path_2 {
	top: 7px;
	left: 9px;
	width: 21.880126953125px;
	height: 16.997863769531px;
}


#path_3 {
	top: 5px;
	left: 24px;
	width: 9.2059326171875px;
	height: 4.72021484375px;
}

#_007_messenger {
	top: 0px;
	left: 83px;
	width: 40.071166992188px;
	height: 30.905090332031px;
}
#group_3 {
	top: 0px;
	left: 0px;
	width: 40.071166992188px;
	height: 30.905090332031px;
}

#path_4 {
	top: 0px;
	left: 0px;
	width: 40.071166992188px;
	height: 30.905090332031px;
}


#rectangle_3 {
	top: 18px;
	left: 129px;
	width: 9px;
	height: 4px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#tourism {
	top: 173px;
	left: 264px;
	width: 877px;
	height: 615.5px;
	overflow: hidden;
	font-family: Great Wishes;
	font-size: 231px;
	text-align: left;
	-ms-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-o-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-webkit-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	-moz-text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	text-shadow:0px 3px 6px rgba(0,0,0,0.41);
	color:#cbcbcb;
}

#signup{
	border-radius: 5px

}

/* Add your custom CSS here */
#bg-img{

	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fab{
	color: white;
	font-size: 30px;
}
